<div class="page-container">
  <h1>Галерея Angular проектів</h1>

  <section class="clearfix">
    <div class="image-wrap left">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
        alt="Логотип Angular"
        width="160"
      />
    </div>
    <p>
      Angular - це потужний фреймворк для створення веб-додатків, розроблений
      компанією Google. Його логотип символізує сучасний, інноваційний підхід у
      веб-розробці, демонструючи динамічність та оперативність цього фреймворку.
      Червоний щит з білою літерою "A" став впізнаваним символом у світі
      веб-розробки, представляючи надійність та професіоналізм платформи.
    </p>
  </section>

  <section class="clearfix">
    <div class="image-wrap right">
      <img
        src="https://rxjs.dev/assets/images/logos/Rx_Logo_S.png"
        alt="RxJS Logo"
        width="160"
      />
    </div>
    <p>
      RxJS (Reactive Extensions for JavaScript) є бібліотекою для реактивного
      програмування, яка широко використовується в Angular. Вона надає потужні
      інструменти для роботи з асинхронними даними та подіями. За допомогою RxJS
      розробники можуть легко обробляти складні потоки даних, комбінувати їх,
      фільтрувати та трансформувати. Це робить розробку складних інтерактивних
      додатків більш керованою та ефективною.
    </p>
  </section>

  <section class="clearfix">
    <div class="image-wrap left">
      <img
        src="https://angular.io/generated/images/marketing/concept-icons/forms.png"
        alt="Angular Forms"
        width="160"
      />
    </div>
    <p>
      Форми є важливою частиною будь-якого веб-додатку, і Angular надає потужні
      інструменти для роботи з ними. Реактивні форми в Angular дозволяють
      створювати складні форми з валідацією, відстеженням змін та обробкою
      подій. Вони забезпечують більш структурований та типобезпечний підхід до
      обробки користувацького вводу, що робить розробку більш передбачуваною та
      надійною.
    </p>
  </section>
</div>
