<div class="page-container">
  <section class="lab-item">
    <h2>Ключові Особистості Angular</h2>
    <ul>
      <li>Miško Hevery - творець Angular та AngularJS</li>
      <li>
        Brad Green - директор інженерії в Google, керівник команди Angular
      </li>
      <li>Джефф Кросс - співзасновник Nrwl, експерт з Angular</li>
      <li>Тодд Мотто - експерт розробки та видатний викладач Angular</li>
      <li>
        Ден Вахлін - архітектор програмного забезпечення та автор книг про
        Angular
      </li>
    </ul>
  </section>
</div>
