<mat-toolbar color="primary">
  <span>Розробка на Angular</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/home">Головна</a>
    <a mat-button routerLink="/about">Про Angular</a>
    <a mat-button routerLink="/components">Компоненти</a>
    <a mat-button routerLink="/resources">Навчальні матеріали</a>
    <a mat-button routerLink="/gallery">Галерея</a>
    <a mat-button routerLink="/faq">FAQ</a>
    <a mat-button routerLink="/contacts">Контакти</a>
    <a mat-button routerLink="/tips">Поради</a>
    <a mat-button routerLink="/libraries">Бібліотеки</a>
    <a mat-button routerLink="/labs">Лабораторні роботи</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
